[Desktop Entry]
Type=Application
Name=Package Updater
Comment=Package update notifier applet for COSMIC Desktop
Icon=software-update-available
Exec=package-updater
Categories=System;
X-CosmicApplet=true